.carousel-container {
  position: relative;
  max-width: 100%; /* Usar largura máxima relativa */
  margin: auto;
  overflow: hidden;
  padding: 1rem 0; /* Manter padding em rem */
}

.carousel-container .left-arrow,
.carousel-container .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  height: 2.5rem; /* Substituir 40px por 2.5rem */
  width: 2.5rem; /* Substituir 40px por 2.5rem */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.carousel-container .left-arrow {
  left: 2rem; /* Ajustar conforme necessário, substituir 8rem por 2rem */
}

.carousel-container .right-arrow {
  right: 2rem; /* Ajustar conforme necessário, substituir 8rem por 2rem */
}
