/* src/styles/InputLogin.css */

.grupo_Inputs {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 0.4rem;
}

.grupo_Inputs input {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  transition: box-shadow 0.3s ease; /* Adicionar transição para o shadow */
}

.grupo_Inputs input:focus {
  box-shadow: 0 0 5px #007bff; /* Shadow na mesma cor do label */
}

.grupo_Inputs label {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 0.9rem;
  color: #999;
  transition: all 0.3s ease;
  pointer-events: none;
  background-color: transparent; /* Fundo transparente */
  padding: 0 0.2rem;
}

.grupo_Inputs input:focus + label,
.grupo_Inputs input:not(:placeholder-shown) + label {
  top: -1.2rem; /* Ajuste para mover o label um pouco acima da borda */
  left: 0.5rem;
  font-size: 0.7rem; /* Redução do tamanho da fonte */
  color: #007bff;
  background-color: #f9f9f9; /*Mesma cor de fundo do formulário */
  padding: 0 0.2rem;
}
